openapi: 3.0.0
info:
  title: Subscription Tracker API
  version: 2.0.0
  description: Многопользовательская система управления подписками с поддержкой истории цен и аналитики

servers:
  - url: https://api.subscription-tracker.com/v1  # Планируемый
    description: Production server
  - url: http://localhost:3000/api/v1  # Текущий рабочий
    description: Development server

components:
  schemas:
    # Модели пользователя
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        email:
          type: string
          format: email
          example: "user@example.com"
        createdAt:
          type: string
          format: date-time
          example: "2025-01-01T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2025-01-01T10:30:00Z"
      required:
        - id
        - email
        - createdAt

    UserRegistration:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "user@example.com"
        password:
          type: string
          minLength: 8
          example: "securePassword123"
      required:
        - email
        - password

    UserLogin:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "user@example.com"
        password:
          type: string
          example: "securePassword123"
      required:
        - email
        - password

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        refreshToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        user:
          $ref: '#/components/schemas/User'
        expiresIn:
          type: integer
          example: 3600
      required:
        - accessToken
        - user

    UpdateUserProfile:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "new.email@example.com"

    # Модели подписок 
    Subscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440001"
        userId:
          type: string
          format: uuid
        name:
          type: string
          example: "КиноПоиск"
        currentAmount:
          type: integer
          nullable: true
          example: 299
        nextPaymentDate:
          type: string
          format: date
          example: "2025-12-29"
        connectedDate:
          type: string
          format: date
          example: "2024-01-01"
        archivedDate:
          type: string
          format: date-time
          nullable: true
        icon:
          type: string
          example: "movie_creation_outlined"
        color:
          type: string
          example: "#FF9800"
        category:
          type: string
          enum: ["music", "video", "books", "games", "education", "social", "other"]
          example: "video"
        isTrial:
          type: boolean
          default: false
          description: |
            Trial-период. Определяется при создании и не может быть изменен.
            Для завершения trial создайте новую подписку.
        notifyDays:
          type: integer
          minimum: 1
          maximum: 30
          default: 3
        billingCycle:
          type: string
          enum: ["monthly", "quarterly", "yearly"]
          example: "monthly"
        billingDay:
          type: integer
          minimum: 1
          maximum: 31
          example: 20
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        # Уведомления
        notificationsEnabled:
          type: boolean
          default: true
      required:
        - id
        - userId
        - name
        - nextPaymentDate
        - connectedDate
        - category
        - billingCycle
        - billingDay

    # История цен 
    PriceHistory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        subscriptionId:
          type: string
          format: uuid
        amount:
          type: integer
          example: 256
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - subscriptionId
        - amount
        - startDate

    # Подписка с историей цен
    SubscriptionWithPriceHistory:
      allOf:
        - $ref: '#/components/schemas/Subscription'
        - type: object
          properties:
            priceHistory:
              type: array
              items:
                $ref: '#/components/schemas/PriceHistory'

    # Создание подписки 
    CreateSubscriptionRequest:
      type: object
      properties:
        name:
          type: string
          example: "Kinopoisk"
        currentAmount:
          type: integer
          nullable: true
          description: |
            Текущая стоимость подписки.
            Если isTrial=true, может быть 0 или null.
            Если isTrial=false, должно быть положительным числом.
          example: 299
        nextPaymentDate:
          type: string
          format: date
          example: "2025-12-29"
        category:
          type: string
          enum: ["music", "video", "books", "games", "education", "social", "other"]
        isTrial:
          type: boolean
          default: false
        notifyDays:
          type: integer
          minimum: 1
          maximum: 30
          default: 3
        billingCycle:
          type: string
          enum: ["monthly", "quarterly", "yearly"]
        billingDay:
          type: integer
          minimum: 1
          maximum: 31
        # Автоматически устанавливаются на сервере:
        # - connectedDate = текущая дата
        # - icon, color на основе категории
      required:
        - name
        - nextPaymentDate
        - category
        - billingCycle
        - billingDay

    # Обновление подписки
    UpdateSubscriptionRequest:
      type: object
      properties:
        name:
          type: string
        currentAmount:
          type: integer
          nullable: true
        nextPaymentDate:
          type: string
          format: date
        category:
          type: string
          enum: ["music", "video", "books", "games", "education", "social", "other"]
        notifyDays:
          type: integer
          minimum: 1
          maximum: 30
        billingCycle:
          type: string
          enum: ["monthly", "quarterly", "yearly"]
        billingDay:
          type: integer
          minimum: 1
          maximum: 31
        notificationsEnabled:
          type: boolean
          description: "Включены ли уведомления для этой подписки"
          example: true

    # Архивация подписки
    ArchiveSubscriptionRequest:
      type: object
      properties:
        confirm:
          type: boolean
          description: "Подтверждение архивации (должно быть true)"
          example: true
        archivedDate:
          type: string
          format: date-time
          example: "2025-01-15T10:30:00Z"
          description: |
            Дата архивации подписки.
            Если не указана, используется текущая дата.
            Эта дата используется в аналитике для определения периода активности подписки.
      required:
        - confirm

    # Аналитика 
    AnalyticsPeriod:
      type: object
      properties:
        period:
          type: string
          enum: ["current_month", "last_month", "current_quarter", "last_quarter", "current_year", "last_year", "custom"]
        startDate:
          type: string
          format: date
          nullable: true
        endDate:
          type: string
          format: date
          nullable: true
      required:
        - period

    CategorySpending:
      type: object
      properties:
        category:
          type: string
          enum: ["music", "video", "books", "games", "education", "social", "other"]
        totalAmount:
          type: number
          format: float
          description: "Общая сумма расходов по категории за период"
        subscriptionCount:
          type: integer
          description: "Количество подписок этой категории, активных в периоде"
        percentage:
          type: number
          minimum: 0
          maximum: 100
          format: float
          description: "Доля расходов по категории от общей суммы"
      required:
        - category
        - totalAmount
        - subscriptionCount
        - percentage
    SpendingSummary:
      type: object
      properties:
        period:
          $ref: '#/components/schemas/AnalyticsPeriod'
        totalSpent:
          type: number
          format: float
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategorySpending'
      required:
        - period
        - totalSpent
        - categories

    # Уведомления 
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        subscriptionId:
          type: string
          format: uuid
        type:
          type: string
          description: "Тип уведомления. Пока поддерживается только payment_reminder"
          example: "payment_reminder"
        title:
          type: string
          example: "Скоро списание"
        message:
          type: string
          example: "Через 3 дня списание 299 руб. за КиноПоиск"
        scheduledDate:
          type: string
          format: date-time
        sentAt:
          type: string
          format: date-time
          nullable: true
        read:
          type: boolean
          default: false
        actionUrl:
          type: string
          format: uri
          nullable: true
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - userId
        - subscriptionId
        - type
        - title
        - message
        - scheduledDate

    # Ошибки
    Error:
      type: object
      properties:
        error:
          type: string
          example: "VALIDATION_ERROR"
        message:
          type: string
          example: "Неверные данные запроса"
        details:
          type: object
          additionalProperties: true
        timestamp:
          type: string
          format: date-time
      required:
        - error
        - message
        - timestamp

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Введите JWT токен без префикса "Bearer"

paths:
  # Аутентификация
  /auth/register:
    post:
      summary: Регистрация пользователя
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistration'
      responses:
        '201':
          description: Пользователь создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Пользователь с таким email уже существует

  /auth/login:
    post:
      summary: Вход в систему
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Неверные учетные данные
        '404':
          description: Пользователь не найден

  /auth/refresh:
    post:
      summary: Обновление токена
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
              required:
                - refreshToken
      responses:
        '200':
          description: Токен обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Невалидный refresh token

  /auth/logout:
    post:
      summary: Выход из системы
      tags: [Authentication]
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Успешный выход
        '401':
          description: Неавторизован

  # Пользователь
  /user/profile:
    get:
      summary: Получить профиль пользователя
      tags: [User]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Профиль получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Неавторизован
        '404':
          description: Пользователь не найден

    patch:
      summary: Обновить профиль пользователя
      tags: [User]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserProfile'
      responses:
        '200':
          description: Профиль обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Ошибка валидации
        '401':
          description: Неавторизован

  # Подписки
  /subscriptions:
    get:
      summary: Получить подписки пользователя
      description: Возвращает активные подписки. Можно фильтровать по категории и включать архивные. Для главного экрана приложения отправляется запрос "GET /subscriptions?archived=false&sortBy=nextPaymentDate&sortOrder=asc"
              **По умолчанию:**
        - Только активные подписки (archived=false)
        - Сортировка по nextPaymentDate (от ближайших к дальним)
        - Без истории цен
      tags: [Subscriptions]
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: ["music", "video", "books", "games", "education", "social", "other"]
          description: Фильтр по категории
        - name: archived
          in: query
          schema:
            type: boolean
            default: false
          description: Включить архивные подписки
        - name: includePriceHistory
          in: query
          schema:
            type: boolean
            default: false
          description: Включить историю цен
        - name: sortBy
          in: query
          schema:
            type: string
            enum: ["nextPaymentDate", "name", "currentAmount", "createdAt"]
            default: "nextPaymentDate"
          description: Поле для сортировки
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: ["asc", "desc"]
            default: "asc"
          description: Порядок сортировки. Для nextPaymentDate "asc" = ближайшие сверху
      responses:
        '200':
          description: Список подписок
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionWithPriceHistory'
        '401':
          description: Неавторизован

    post:
      summary: Создать подписку
      description: При создании подписки автоматически добавляется первая запись в историю цен
      tags: [Subscriptions]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
      responses:
        '201':
          description: Подписка создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionWithPriceHistory'
        '400':
          description: Ошибка валидации
        '401':
          description: Неавторизован

  /subscriptions/{subscriptionId}:
    get:
      summary: Получить подписку по ID с историей цен
      tags: [Subscriptions]
      security:
        - BearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Подписка найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionWithPriceHistory'
        '401':
          description: Неавторизован
        '404':
          description: Подписка не найдена

    patch:
      summary: Обновить подписку
      description: |
        Обновляет указанные поля подписки.
        При изменении стоимости (currentAmount) автоматически закрывается текущий период в истории цен и создается новый период с новой стоимостью.
      tags: [Subscriptions]
      security:
        - BearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionRequest'
      responses:
        '200':
          description: Подписка обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionWithPriceHistory'
        '400':
          description: Ошибка валидации
        '401':
          description: Неавторизован
        '404':
          description: Подписка не найдена

    delete:
      summary: Полностью удалить подписку
      description: Внимание! Удаление невозможно восстановить. Удаленная подписка не учитывется в аналитике! 
      tags: [Subscriptions]
      security:
        - BearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Подписка удалена
        '401':
          description: Неавторизован
        '404':
          description: Подписка не найдена

  /subscriptions/{subscriptionId}/archive:
    patch:
      summary: Архивировать подписку
      description: Устанавливает дату архивации подписки.Это действие необратимо - подписку нельзя восстановить из архива. Архивные подписки:не отображаются в основном списке (только с параметром archived=true), не генерируют уведомления о будущих платежах, не участвуют в расчетах будущих расходов. Архивные подписки учитываются в аналитике за период, когда они были активны.
      tags: [Subscriptions]
      security:
        - BearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveSubscriptionRequest'
      responses:
        '200':
          description: Подписка заархивирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          description: Неавторизован
        '404':
          description: Подписка не найдена

  # История цен
  /subscriptions/{subscriptionId}/price-history:
    get:
      summary: Получить историю цен подписки
      tags: [Price History]
      security:
        - BearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: История цен получена
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceHistory'
        '401':
          description: Неавторизован
        '404':
          description: Подписка не найдена

  # Аналитика
  /analytics/spending:
    get:
      summary: Получить сводку расходов за период
      description: Возвращает аналитику расходов с разбивкой по категориям.
              **Включает:**
        - Активные подписки за весь период
        - Архивные подписки за период их активности (до archivedDate)
        - Удаленные подписки не включаются
        
        **Не включает:**
        - Архивные подписки после даты архивации
        - Подписки, подключенные после конца периода
      tags: [Analytics]
      security:
        - BearerAuth: []
      parameters:
        - name: period
          in: query
          required: true
          schema:
            type: string
            enum: ["current_month", "last_month", "current_quarter", "last_quarter", "current_year", "last_year", "custom"]
          description: Период для анализа
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Начальная дата (для custom периода)
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Конечная дата (для custom периода)
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum: ["music", "video", "books", "games", "education", "social", "other"]
          description: Фильтр по категории (опционально)
      responses:
        '200':
          description: Сводка расходов получена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingSummary'
        '400':
          description: Ошибка валидации параметров
        '401':
          description: Неавторизован

  /analytics/upcoming-payments:
    get:
      summary: Получить предстоящие платежи
      description: Возвращает список подписок с ближайшими датами списания
      tags: [Analytics]
      security:
        - BearerAuth: []
      parameters:
        - name: daysAhead
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 30
          description: Количество дней вперед для поиска платежей
      responses:
        '200':
          description: Список предстоящих платежей
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'
        '401':
          description: Неавторизован

  # Уведомления
  /notifications:
    get:
      summary: Получить уведомления пользователя
      tags: [Notifications]
      security:
        - BearerAuth: []
      parameters:
        - name: unreadOnly
          in: query
          schema:
            type: boolean
            default: false
          description: Только непрочитанные уведомления
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          description: Количество уведов, которые нужно пропустить перед началом выборки, вместе с limit реализует пагинацию
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Список уведомлений
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'
        '401':
          description: Неавторизован

  /notifications/{notificationId}/read:
    patch:
      summary: Пометить уведомление как прочитанное
      tags: [Notifications]
      security:
        - BearerAuth: []
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Уведомление помечено как прочитанное
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          description: Неавторизован
        '404':
          description: Уведомление не найдено

  /notifications/read-all:
    post:
      summary: Пометить все уведомления как прочитанные
      tags: [Notifications]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Все уведомления помечены как прочитанные
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Все уведомления помечены как прочитанные"
                  count:
                    type: integer
                    example: 5
        '401':
          description: Неавторизован